
.body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
}
.button{
    margin-top: 18px;
}

label{
    width: 120px;
    margin-right: 8px;
}
input{
    width: 180px;
}
textarea{
    width: 180px;
}